<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <h1>
        {{ title.split('Categoría')[0] }}<span class="categoria-highlight">Categoría</span>
      </h1>
    </div>
  
    <!-- Campo Nombre -->
    <div class="form-group">
      <input-atom
        formControlName="name"
        [label]="nameLabel"
        [placeholder]="namePlaceholder"
        [size]="'m'"
        [state]="categoryForm.controls['name'].invalid && categoryForm.controls['name'].touched ? 'disabled' : 'active'">
      </input-atom>
      <!-- Mensaje de error para nombre -->
      <p class="error-message" *ngIf="(categoryForm.controls['name'].invalid && categoryForm.controls['name'].touched) || (categoryForm.controls['name'].errors?.['maxlength'])">
        {{ getNameErrorMessage() }}
      </p>
    </div>
  
    <!-- Campo Descripción -->
    <div class="form-group">
      <input-atom
        formControlName="description"
        [label]="descriptionLabel"
        [type]="'scroll'"
        [placeholder]="descriptionPlaceholder"
        [size]="'m'"
        [state]="categoryForm.controls['description'].invalid && categoryForm.controls['description'].touched ? 'disabled' : 'active'">
      </input-atom>
      <!-- Mensaje de error para descripción -->
      <p class="error-message" *ngIf="(categoryForm.controls['description'].invalid && categoryForm.controls['description'].touched) || (categoryForm.controls['description'].errors?.['maxlength'])">
        {{ getDescriptionErrorMessage() }}
      </p>
    </div>
  
    <!-- Botón de envío -->
    <div class="form-group">
      <button-atom
        [size]="'m'"
        [isDisabled]="!isButtonActive()"
        [type]="'main'">
        {{ buttonText }}
      </button-atom>
    </div>
  </form>  