<div class="datatable-container">
  <!-- Contenedor de la barra de paginación -->
  <div class="pagination-wrapper">
    <pagination-bar 
      (sortChange)="onSortChange($event)" 
      (showByChange)="onShowByChange($event)">
    </pagination-bar>
  </div>

  <!-- Tabla de datos -->
  <div class="datatable">
    <datatable [columns]="columns" [rows]="rows"></datatable>
  </div>

  <!-- Paginador -->
  <page-picker-atom
    [page]="page?.page ?? 0" 
    [totalPages]="page?.totalPages ?? 1"
    (onPageChange)="onPageChange($event)">
  </page-picker-atom>
</div>