@import 'styles';

.show-by-atom {
    display: flex;
    align-items: center;
  
    .show-by-label {
      margin-right: 8px;
      font-weight: 600;
      color: #4a4a4a;
    }
  
    .show-by-select {
      padding: 4px 8px;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      background-color: transparent;
      color: $purple;
      cursor: pointer;
  
      &:focus {
        outline: none;
      }
    }
  
    /* Estilos para dispositivos móviles */
    @media (max-width: 768px) {
      .show-by-select {
        font-size: 14px;
        padding: 4px 8px;
      }
  
      .show-by-label {
        font-size: 12px;
      }
    }
  }  