<div *ngIf="label === ''; else labeledInput">
    <textarea
        class="{{ styles }}"
        [placeholder]="placeholder"
        [attr.disabled]="disabled === '' ? null : true"
        [(ngModel)]="value" 
        (ngModelChange)="onInput($event)" 
        name="input-atom"
        [style.overflow]="type === 'scroll' ? 'auto' : 'hidden'"  
        [style.white-space]="type === 'scroll' ? 'normal' : 'nowrap'"  
        [style.width]="'100%'"
        [style.height]="type === 'scroll' ? '100px' : '50px'" 
        [style.resize]="type === 'scroll' ? 'none' : 'both'"
    ></textarea>
</div>

<ng-template #labeledInput>
    <div class="labeled-input-container">
        <label for="input-atom" class="{{ labelStyles }}">{{ label }}</label>
        <textarea
            class="{{ styles }}"
            [placeholder]="placeholder"
            [attr.disabled]="disabled === '' ? null : true"
            [(ngModel)]="value" 
            (ngModelChange)="onInput($event)" 
            name="input-atom"
            [style.overflow]="type === 'scroll' ? 'auto' : 'hidden'"
            [style.white-space]="type === 'scroll' ? 'normal' : 'nowrap'"  
            [style.width]="'100%'"
            [style.height]="type === 'scroll' ? '100px' : '50px'" 
            [style.resize]="type === 'scroll' ? 'none' : 'both'"
        ></textarea>
    </div>
</ng-template>
