@import 'styles';

textarea {
    all: unset;
    background-color: $white-color;
    border-radius: 2px;
    width: 100%; 
    box-sizing: border-box;
    padding: 12px;
    font-size: map-get($map: $font-sizes, $key: "m");
    overflow-wrap: break-word; 

    &.input-state-active {
        border: 1px solid;
        border-color: $spacer-light-color;

        &:focus {
            border-color: $purple;
        }

        &::placeholder {
            color: $border-color;
        }
    }

    &.input-state-disabled {
        border: 1px solid;
        border-color: $disabled-color;

        &::placeholder {
            color: $disabled-color;
        }
    }
}
