<div class="title-container">
  <h1>
    {{ title.split('Categorías')[0] }}<span class="categoria-highlight">Categorías!</span>
  </h1>
</div>

<ng-container *ngIf="isDataLoaded">
  <!-- Datatable con eventos de ordenamiento, cambio de página y tamaño -->
  <paginated-datatable 
    [columns]="columns" 
    [page]="page"
    (sortChange)="onSortChange($event)"
    (showByChange)="onShowByChange($event)"
    (pageChange)="onPageChange($event)">
  </paginated-datatable>
</ng-container>

<!-- Botón para agregar una categoría -->
<button-atom [size]="'m'" [type]="'main'" (click)="openModal()">Agregar Categoría</button-atom>

<!-- Modal para agregar categoría -->
<app-modal *ngIf="isModalOpen" (close)="closeModal()" [notification]="notification">
  <app-category-form (submitForm)="handleFormSubmit($event)"></app-category-form>
</app-modal>
