@import 'styles';

.notification-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%; 
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: bold;
}

.notification-text {
  color: $white-color;
}

.notification-error {
  background-color: $error; 
}

.notification-warning {
  background-color: $attention;
}

.notification-success {
  background-color: $approval;
}

.notification-inform {
  background-color: $purple;
}

@media (min-width: 768px) {
  .notification-container {
    width: 100%; 
  }
}